<div class="flex flex-col justify-center items-center my-5 mx-32 bg-white p-8 rounded-lg w-full">
    <app-input-search class="mb-9 w-4/5" (buscar)="filtrarProdutos($event)"></app-input-search>
    <div [style.margin-bottom.rem]="2" class="text-black">
        <tui-radio-list
            [itemContent]="content"
            [items]="sizes"
            [style.flex-direction]="'row'"
            [style.width]="'max-content'"
            [(ngModel)]="size"
        />
        <ng-template
            #content
            let-value

        >
            {{ value === 's' ? 'Pequeno' : value === 'm' ? 'Médio' : 'Grande' }}
        </ng-template>
    </div>

    <table
        tuiTable
        [size]="size"
        [style.width.rem]="58"
    >
        <thead>
            <tr>
                <th tuiTh>Nome do Produto</th>
                <th tuiTh>Descrição</th>
                <th tuiTh>Preço</th>
                <th tuiTh>Categoria</th>
            </tr>
        </thead>
        <tbody tuiTbody>
            <tr *ngFor="let item of produtos | async">

                <td tuiTd>
                    <div [tuiCell]="size">
                        <span tuiTitle>
                            <span tuiStatus>
                                {{ item.nome }}
                            </span>
                        </span>
                    </div>
                </td>
                <td tuiTd>
                    <div [tuiCell]="size">
                        <span tuiTitle>
                            {{ item.descricao }}
                        </span>
                    </div>
                </td>
                <td tuiTd>
                    <div [tuiCell]="size">
                        <span tuiTitle>
                            R$ {{ item.preco }}
                        </span>
                    </div>
                </td>
                <td tuiTd>
                    <tui-items-with-more [style.gap.rem]="0.25">
                            <tui-badge *tuiItem>{{ item.categoria.nome }}</tui-badge>
                    </tui-items-with-more>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>