<div class="flex flex-row"
    tuiAppearance="primary"
>
    <div
        tuiCardLarge
        class="flex flex-col justify-between h-screen w-1/5 shadow-2xl"
    >
        <header tuiHeader>
            <div class="flex flex-row justify-between w-full">
                <div>
                    <h1 tuiTitle>
                        Bem-Vindo!
                    <span tuiSubtitle>O que deseja fazer?</span>
                    </h1>
                </div>
                <h3 tuiAppearance="primary">Usuário</h3>
            </div>
        </header>

        <hr class="my-2 opacity-10">
    
        <app-item-sidebar></app-item-sidebar>

        <footer>
            <button
                appearance="primary"
                size="m"
                tuiButton
                type="button"
            >
                <- Sair
            </button>
        </footer>
    </div>

    <router-outlet></router-outlet>
</div>