<search tuiSearch >
    <form [formGroup]="form">
      <fieldset>
        <tui-textfield  iconStart="@tui.search" >
          <label tuiLabel>Buscar</label>
          <input
            placeholder="Buscar"
            tuiTextfield
            formControlName="search"
          />
        </tui-textfield>
        <button tuiButton tuiAppearance="primary" (click)="OnSearch()" >Icon</button>
        <button tuiButton tuiAppearance="positive" [routerLink]="['/produtos/novo']">+</button>
      </fieldset>
    </form>
  </search>
